@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Leckerli+One&family=Mate+SC&family=Merriweather:wght@300&family=Outfit&family=PT+Serif&display=swap');
body{
    margin:0px;
    background-color: #fff;
}

header{
    background-color: #fff;
    height:auto;
}

body{
    background-color: rgb(236, 236, 236);
}

h1{
    color:rgb(37, 37, 37);
    text-align: center;
    font-size: 500%;
    margin:0;
    font-family: 'Amatic SC', cursive;
}

p.authorText{
    font-size: 1.8em;
    margin-top:-30px;
    margin-bottom:70px;
    color: rgb(124, 124, 124);
}

nav.header-menu{
    display:flex;
    justify-content: center;
}

nav.header-menu > a{
    margin:15px 20px 15px 20px;
    font-size: 1.4em;
    color:rgb(27, 27, 27);
}

nav.header-menu > a:link{
    text-decoration: none;
}

div.introBox{
    background-color: #fff;
    min-height:960px;
    padding: 40px;
    width:76%;
    margin:20px 12% 20px 12%;
}

div.introBox *{
    text-align: center;
}

h2{
    font-size: 3em;
    font-family: 'PT Serif', serif;
}

p{
    font-family: 'PT Serif', serif;
}

div.recipeWrapper{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

div.recipePage{
    background-color: rgb(231, 245, 214);
    width:55%;
    margin-left:5%;
    grid-column:1;
    grid-row:1;
    z-index:1;
    padding:0 7% 0 7%;
    box-sizing: border-box;
    min-height:2000px;
    font-family: 'PT Serif', serif;
    transition: background-color 1s;
}

.foodBackground{
    background-image: url("img/skagen.jpg");
    background-repeat: repeat-x;
    background-position-x: calc(100% + 30px);
    background-size: 100vh;
    position: sticky;
    width:100%;
    height:100vh;
    top:0px;
    grid-column:1;
    grid-row:1;
    transition: background-image 0.3s;
}

.anim{
    animation-name: hoverBackground;
    animation-duration: 1s;
}

/* @keyframes hoverBackground{
    from{background-position-x: 1330px;}
    to{background-position-x: 1380px;}
} */

article.recipeArticle{
    flex-basis: 50%;
    min-height:860px;
    /* border:1px solid black; */
    padding-bottom:80px;
    padding-top:40px;
}


img.recipeImage{
    height:auto;
    object-fit:cover;
}

article.recipeArticle > h2{
    text-align: center;
    font-size: 3.8em;
    font-family: 'Leckerli One', cursive;
}

article.recipeArticle > h3{
    text-align: center;
    font-size: 1.8em;
    font-family: 'Mate SC', serif;
}

p.recipeIntro{
    font-size: 1.4em;
    margin: 10px 50px 10px 50px;
    font-weight: bold;
    text-align: center;
}

.recipeInfoRow{
    display:flex;
    justify-content: center;
    font-size: 1.8em;
    font-family: 'Mate SC', serif;
    margin-top:60px;
}

div.recipePage-LeftColumn{
    display:flex;
    flex-direction: column;
}

div.factBox{
    border:3px dashed black;
    min-height: 100px;
    padding:0 20px 0 20px;
    box-sizing: border-box;
    max-width:300px;
    margin: 40px 25px 0 0;
}

div.factBox p{
    color:rgb(66, 66, 66);
    font-size: 1.7em;
    font-family: 'Merriweather', serif;
}

div.recipe-instructions-wrapper{
    display:flex;
    margin-top:50px;
    flex-direction: column;
}

@media screen and (min-width: 1000px){
    div.recipe-instructions-wrapper{
        flex-direction: row;
    }
}

div.recipe-instructions-wrapper ul{
    /* border:1px solid black; */
    padding:0;
}

div.recipe-instructions-wrapper ul li{
    color: rgb(44, 44, 44);
    list-style: none;
    margin-bottom: 30px;
    font-size: 1.4em;
    font-family: 'Outfit', sans-serif;
}

div.recipePage-LeftColumn ul li span{
    margin-left: 15px;
}

div.recipe-instructions-wrapper ol{
    /* border:1px solid black; */
    width:60%;
}

div.recipe-instructions-wrapper ol li{
    margin-bottom: 40px;
    font-size: 1.4em;
    word-spacing: 0.1em;
}

div.linkWrapper{
    display:flex;
    justify-content: space-around;
    flex-flow: wrap row;
}

figure.link-image-container{
    width:220;
    height:250px;
    margin:0;
    box-sizing: border-box;
}

figure.link-image-container > img{
    width:200px;
    height:200px;
    object-fit: cover;
}

a.linkContainer:link{
    text-decoration: none;
}

a.linkContainer:visited{
    text-decoration: blue;
}

figure.link-image-container > figcaption{
    text-align: center;
    line-height: 2em;
    color:rgb(27, 27, 179);
}

figure.link-image-container > figcaption:link{
    text-decoration: none;
}

footer{
    background-color: rgb(60, 60, 82);
    height:200px;
}